version: "3.9"
services:
  cassandra:
    image: cassandra:4.1
    container_name: cassandra
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_CLUSTER_NAME=PlayDatasetCluster
      - CASSANDRA_DC=datacenter1
    volumes:
      - cassandra-data:/var/lib/cassandra
volumes:
    cassandra-data:
